The privacy considerations in section 11 from RFC 9334 should be endorsed

Section 11 (Privacy considerations) only mentions the case of Client Instance Key in the cnf claim to address the raised privacy issue. 

According to RFC 9334 (RATS Architecture), Section 11 from RFC 9334 states:

> 11.  Privacy Considerations
> 
> (...)
> 
>    In many cases, the whole point of attestation procedures is to
>    provide reliable information about the type of the device and the
>    firmware/software that the device is running.

This means that the* type* of the device and the firmware/software that the device is running should be known to the AS. 

This sentence from Section 11 from RFC 9334 should be copied and pasted into section 11 of this document.

It should be noticed that the protocol will also be applicable if the firmware/software that the device is running is used towards a *single* Authorization Server. In that case, serial numbers can be included into a Client Attestation JWT. This use case supports a nice feature: 
the ability to suspend or revoke a specific Client Attestation JWT.

To this respect the document should include a section addressing the suspension and revocation of a Client Attestation JWT that contains serial numbers.

A digital credential should include one of the two following claims:

-	either a claim about the type of the device and the firmware/software that the device is running, when the Client will be using several Authorization Servers.

-	or a claim about the type of the device and the firmware/software that the device is running, including serial numbers for the device, the firmware and the software that the device is running, only if the Client will be using a single Authorization Server.

If a Client Attestation JWT is used with several Authorization Servers, once the Authorization Server has verified the Client Attestation JWT, it can copy and paste into the digital credential the type of the device and the firmware/software that the device is running.

If a single Client Attestation JWT is used with a single Authorization Server, once the Authorization Server has verified the Client Attestation JWT, it can place into a digital credential the type of the device and the firmware/software that the device is running and omits the serial numbers, if they were present in the Client Attestation JWT. 

This is a transitive trust model.

In this way, the Resource Server can know the type of the device and the firmware/software that the device is running without the need to rely on TLS (HTTPs) to associate that information to the request from the Holder to the Resource Server.

This use case for RSs (or Verifiers) should be explained into an Informative Annex.


Device Type, software/hardware versions and serial numbers are sensitive data, that should usually not be leaked to Authorization Servers, as they may be used for tracking between Authorizaiton Servers. The mental model should be that client attesters see and evaluate this data but convert this sensitive information into a more generic client attestation JWT that is only bound and proven through the client instance key. Therefore I don't see any use in adding the proposed claims.

If revocation is to be desired by the ecosystem/AS, then the client attester may add a status as defined in Token Status List to the client attestation JWT, as proposed in OpenID4VCI.

This was also discussed at OAuth Interims call with no support in this direction. Pending close